<?xml version="1.0" encoding="UTF-8"?>
<!-- Include from a service logback-spring.xml when SUGAM_JSON_LOGS=true -->
<included>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeMdcKeyName>tenantId</includeMdcKeyName>
            <includeMdcKeyName>shopId</includeMdcKeyName>
            <includeMdcKeyName>branchId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>role</includeMdcKeyName>
            <includeMdcKeyName>service</includeMdcKeyName>
            <includeMdcKeyName>environment</includeMdcKeyName>
            <includeMdcKeyName>httpMethod</includeMdcKeyName>
            <includeMdcKeyName>httpPath</includeMdcKeyName>
            <includeMdcKeyName>statusCode</includeMdcKeyName>
            <includeMdcKeyName>durationMs</includeMdcKeyName>
            <includeMdcKeyName>operation</includeMdcKeyName>
            <includeMdcKeyName>eventType</includeMdcKeyName>
            <customFields>{"service":"${spring.application.name:-unknown}"}</customFields>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</included>
